
select
{
    width:200px;

}

h5
{
  font-weight: 200;
}

.card-panel
{
    margin-right: 30px;
}

.dates,
.times {
  margin: 1%;
}

P
{
    font-size: 25px;
    font-weight: 200;
}

hr.styled-hr
{
    background-color: #d0d0d0;;
}

.con{
  display: inline-flex;
}
