<h1 class=" blue-grey-text">{{ myTitle }}</h1>
<h5 class=" blue-grey-text">{{ pickDate }}</h5>

<br>
<br>

<!-- <small class=" blue-grey-text" > select a date:   </small> -->

<!-- <button (click)="getDates()" > Give me the dates  </button> -->
<!-- no need for buttons <a class="waves-effect waves-light btn"  (click)="getDates()" > Give me the dates  </a> -->

<!-- <br><br>

<small class=" blue-grey-text"> double click buttons to see updated changes:   </small> -->
<!-- old style button without materialze <button *ngFor="let day of uniqDatesArr; let j = index" value="day" (click)="getTimes(j)"> {{uniqDatesArr[j]}} </button> -->

<a class="waves-effect waves-light btn dates" *ngFor="let day of uniqDatesArr; let dateIndex = index" value="day" (click)="getTimes(dateIndex)"> {{uniqDatesArr[dateIndex]}} </a>


<div class="divider"></div>


<h5 class=" blue-grey-text">{{ pickTime }}</h5>

<!-- <button *ngFor="let time of uniqTimes; let i = index" value="time" (click) ="finalQuery(i)" > {{uniqTimes[i]}} </button> -->
<a class="waves-effect waves-light btn times" *ngFor="let time of uniqTimes; let i = index" value="time" (click)="finalQuery(i)"> {{uniqTimes[i]}} </a>


<br>
<br>

<!-- <button (click)="tally()" > Tally   </button> -->
<!-- no need for tally button due to timers <a class="waves-effect waves-light btn"  (click)="tallySurveyAnswers()" > Tally   </a> -->
<div class="divider"></div>


<h5 class=" blue-grey-text"> Results*  <span> <i rel="tooltip" title="Results are estimated" class=" large material-icons disclaimer">error_outline</i> </span>
</h5>
<!-- <span> <i rel="tooltip" title="results are estimated" class=" large material-icons disclaimer">warning</i> </span> -->

<div class="results" *ngIf="isClicked">

    <!--for question and room todo- rename   -->
    <div class="con">

        <div class="row">

            <div class="col s4 ">

                <div style="text-align:center">
                    <i style="color: #26a69a;" class="large material-icons">room</i>
                    <ul>
                        <li *ngFor="let room of uniqRoomsArr"> {{room}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col s12 m5">
                <div class="card-panel grey">
                    <p> Question: {{question.questionText}}</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="responses-con col s6 ">
            <div class="col">
                <div class="">
                    <div class="card-panel red">
                        <p> Negative: {{red}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <div class="card-panel amber">
                        <p> Neutral : {{amber}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <div class="card-panel green">
                        <p> Positive : {{green}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col s6 chart-view">
            <bar-chart-demo> </bar-chart-demo>
        </div>
    </div>

</div>
<br>


<div class="divider"></div>

<!--IF LINK IS CLICKED - LOAD ADVANCED SEARCH   -->
<span>
<a style="font-size: 24px;font-family: roboto;font-weight: 300" (click)="isCollapsedContent = !isCollapsedContent"> Click here for advanced query</a>
<i style="color: #26a69a;font-size:38px" class="large material-icons">zoom_in</i>
</span>
<advanced-query *ngIf="isCollapsedContent"></advanced-query>

<div class="divider"></div>
