<h1>{{ myTitle }}</h1> <h2>{{ pick }}</h2>

<small> select a date </small>
<button (click)="getDates()" > Give me the dates  </button>

  <br><br>

  <small> double click the date you want to view times for</small>
  <button *ngFor="let day of arr; let j = index" value="day" (click)="getTimes(j)"> {{arr[j]}} </button>


<hr><hr>
  <button *ngFor="let time of uniqTimes; let i = index" value="time" (click) ="finalQuery(i,j)" > {{uniqTimes[i]}} </button>


  <!-- <form class="month-box" action="">
    <select name="months">
      <option *ngFor="let time of uniqTimes; let i = index" value="time" > {{uniqTimes[i]}} </option>
    </select>
  </form> -->

<br><br>
  <button (click)="processTimes()" > give me times  </button>


<!--
  <form class="month-box" action="">
    <select name="months" >
      <option *ngFor="let time of answersTime; let i = index" value="time"> {{answersTime[i]}} </option>
    </select>
  </form> -->

<!-- </form> -->

<div class= "answers" *ngFor= "let uniqdates of arr">
  <p> {{uniqdates}}  </p>
  <!-- <p> QUESTIONID: {{answer.questionID}}     RESPONSE: {{answer.response}}  </p> -->
</div>

<!-- <div class= "s" *ngFor= "let answer of answers">
  <p> {{answer.date }}  </p>
</div> -->
