select {
    width: 200px;
}
.disclaimer {
    color: red;
    font-size: 30px;
}

/*.disclaimer:hover:after {
    content: "Your tooltip";
    display: block;
    position: relative;
    top: -16px;
    right: -16px;
    width: 100px;
    background: lightblue;
}*/

h5 {
    font-weight: 200;
}
.card-panel {
    /*margin-right: 30px;*/
}
.dates, .times {
    margin: 1%;
}

P {
    font-size: 25px;
    font-weight: 200;
}
hr.styled-hr {
    background-color: #d0d0d0;
    ;
}
.con {
    display: inline-flex;
}
.responses-con.col.s6 {
    flex-direction: column;
    width: 17%;
    margin-left: 24%;
    margin-top: 2%;

    /*flex-direction: column;*/
}

.chart-view{

}
