.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  margin-top: 30px;
}


.meeting-form img {
    width: 75%;
}
