/* Master Styles */
body {
  text-align: center;
  zoom: 74%;

}
h4 {
      font-weight: 100;
}

/* everywhere else */
/** {
  font-family: Arial, Helvetica, sans-serif;
}*/
img{
  border-radius: 50%;
}



/*
    press/click feedback FOR THE MOBILE/TOUCH
*/

#answer0:hover
{
 background-color: white; /*a hack to return it back to its normal color/background - white */
 border-radius: 50%;
}

#answer0:hover:active
{
  background-color: #48fb47;
}



#answer1:hover
{
 background-color: white; /*a hack to return it back to its normal color/background - white */
 border-radius: 50%;
}

#answer1:hover:active
{
  background-color: #ffbf00;
}


#answer2:hover
{
 background-color: white; /*a hack to return it back to its normal color/background - white */
 border-radius: 50%;
}

#answer2:hover:active
{
  background-color: #ff0101;
}




/*
 ////*  press/click feedback FOR THE WEB ONLY //
#answer1:hover {
 background-color: #FF8300;
 border-radius: 50%;

}

#answer0:hover {
 background-color: #48fb47;
 border-radius: 50%;

}

#answer2:hover {
 background-color: #ff0101;
 border-radius: 50%;

}*/
