/* Master Styles */
body {
  text-align: center;
}

h4 {
      font-weight: 100;
}

/* everywhere else */
/** {
  font-family: Arial, Helvetica, sans-serif;
}*/
img{
  border-radius: 50%;
}

/*some hovering stuff- to chnage to something better*/
 /*img:hover {
  background-color: #00FF00;
  border-radius: 50%;
  opacity:0.4 !important;
  filter:alpha(opacity=70) !important;
  box-shadow: 0 0 0px #000000 !important;
}*/

#answer1:hover {
 background-color: #FF8300;
 border-radius: 50%;
 /*opacity:0.4 !important;
 filter:alpha(opacity=70) !important;
 box-shadow: 0 0 0px #000000 !important;*/
}

#answer0:hover {
 background-color: #48fb47;
 border-radius: 50%;
 /*opacity:0.4 !important;
 filter:alpha(opacity=70) !important;
 box-shadow: 0 0 0px #000000 !important;*/
}

#answer2:hover {
 background-color: #ff0101;
 border-radius: 50%;
 /*opacity:0.4 !important;
 filter:alpha(opacity=70) !important;
 box-shadow: 0 0 0px #000000 !important;*/
}
