<p>hi</p>

<div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <input class= "field" type="text"  placeholder="xx:xx"  [(ngModel)]= "startTime" class="validate">
         <label for="field">Start Time</label>
       </div>
       <div class="input-field col s6">
         <input class= "field" type="text"  placeholder="End Time"  [(ngModel)]= "endTime" class="validate">
         <label for="last_name">Last Name</label>
       </div>
     </div>
     <div class="input-field col s6">
       <div class="input-field col s12">
         <input class= "field" type="text"  placeholder="Meeting Room"  [(ngModel)]= "mtgRoom" type="text" class="validate">
         <label for="disabled">Meeting Room</label>
       </div>
     </div>

   </form>
 </div>
