<h4 class="section-title">Meeting Results</h4>
<base-chart class="chart"
           [datasets]="barChartData"
           [labels]="barChartLabels"
           [options]="barChartOptions"
           [colors] ="barChartColors"
           [legend]="barChartLegend"
           [chartType]="barChartType"
           (chartHover)="chartHovered($event)"
           (chartClick)="chartClicked($event)"></base-chart>
           <button class="btn waves-effect waves-light"  (click)="refresh()"> UPDATE
               <i class="material-icons right">loop</i>
           </button>
